.footer {
  text-align: center;
  background-color: #000000;
  color: #c2c2c2;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 0.5em;
  margin-bottom: 0;
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #c2c2c2;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #FFF;
}

.link:visited {
  text-decoration: none;
  color: #c2c2c2;
}

.text {
  color: #c2c2c2;
}

