body {
  color: #FFF;
}

.yellow {
  color: #ffff36;
  margin-left: 0.2em;
}

.blue {
  color: #3399ff;
  margin-left: 0.2em;
}

.red {
  color: #ff0000;
  margin-left: 0.2em;
}

.grey {
  color: #c2c2c2;
}

.green {
  color: #24cb31;
  margin-left: 0.2em;
}

.title {
  display: flex;
  font-size: 2.5em;
  flex-flow: row;
  justify-content: center;
}

.home {
  margin: auto;
}

.step {
  display: flex;
  flex-flow: column;
}

.stepTitle {
  display: flex;
  flex-flow: row;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description {
  font-size: 1.3em;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
}