.logoImage {
  background-image: url("../svslogo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 60px;
}

.item {
  color: #d2d2d2;
  text-decoration: none;
  padding: 0.2em;
}