.nav {
  background-color: rgba(0,0,0,0.1);
  color: #d2d2d2;
  padding: 0.2em;
  text-align: center;
}

.logo {
  src: url("../svslogo.svg");
  height: 1em;
  width: 1em;
}

.item {
  color: #d2d2d2;
  text-decoration: none;
  padding: 0.2em;
}