.upload {
  background-color: #123ace;
}

.row {
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
/* 
button {
  background-color: #17ffff;
  color: red;
} */