.App {
  background-color: #121212;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  /* height: 100vh; */
}

.content {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
  padding: 30px;
}

code {
  color: #FFF;
  background-color: #411313;
}

.Loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.loadingAnimation {
  margin: auto;
  /* background-image: url('./svsloading.gif'); */
  background-repeat: no-repeat;
  height: 50px;
  width: 70px;
}

.FeaturePage {
  width: 100%;
  height: 100%;
}

.options {
  margin: 0.4rem;
  display: flex;
  flex-flow: row;

}